*{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

img{
	position: absolute;
	width: 225px;
	left: 50%;
	top: 60vh;
	transform: translate(-50%,-40%);
	z-index: 10;
}

.img_box{
	width: 100%;
	height: 100vh;
	background-image: url('../com_back.jpg');
	background-size: auto 100%;
	background-position: center;
}

@media (min-width: 41.63rem){
	/* 666px */
	img{
		top: 50vh;
		transform: translate(-50%,-50%);
	}

	.img_box{
		background-size: auto 100%;
		background-position: center -10rem;
	}
	.white_top{
		position: absolute;
		width: 100%;
		height: 50vh;
		top: 50%;
		background-color: #fff;
	}
}

@media (min-width: 60rem){
	/* 960px */
	.img_box{
		background-size: 100% auto;
		background-position: 0 -10rem;
	}
}

