*{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

.wrap{
	display: block;
	margin: auto;
	width: 300px;
}

.boxs{
	float: left;
	width: 280px;
	height: 280px;
	background-color: red;
	margin-left: 10px;
	margin-top: 20px;
}

.boxs h2{
	color: #fff;
	font-family: Arial, sans-serif;
	text-align: center;
	margin-top: 50%;
	transform: translate(0%,-50%);
	font-size: 1.8rem;
}

@media (min-width: 41.63rem){
	/* 666px */
	.wrap{
		width: 41.63rem;
	}

	.boxs{
		float: left;
		margin-left: 35.33px;
	}

}

@media (min-width: 60rem){
	/* 960px */
	.wrap{
		width: 60rem;
	}

	.boxs{
		margin-left: 30px;
	}
	
}

