* { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Raleway', sans-serif;
  line-height: 1.5rem;
}

h1, h2{
  font-size: 2rem;
}

h3{
  text-transform: uppercase;
}

h4{
  margin-left: 20px;
}

h5{
  color: #212121;
  font-size: 1.3rem;
  margin: 5px;
  padding: 0;
} 

h6{
  color: #f32f4f;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}


.back_white{
  background-color: #fff;
}

.back_blues{
  background: linear-gradient(90deg, #344868 50%, #c5c9d2 50%);
}

.back_darkblue{
  background-color: #344868;
}

.back_lightblue{
  background-color: #c5c9d2;
}

.color_white{
  color: white;
}

.full_width{
  width: 100%;
  display: block;
}


.row {
  overflow: auto;
  margin: 0px auto 0px;
  max-width: 960px;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  border: 1px solid #2d9dc0;
  padding: 16px;
  width: 100%;
}

.pad_5{
  padding-top: 0px;
  padding-bottom: 0px;
}

.back_img{
  position: absolute;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: -10;
}

.home {
  width: 100%;
  height: 100vh;
}

.home img{
  position: absolute;
  width: 225px;
  left: 50%;
  top: 60vh;
  transform: translate(-50%,-30%);
  z-index: 10;
  border:7px solid #fff;
  border-radius:200px;
  background: #fff;
}

.home .title_box h1{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 3rem;
  padding-top: 25vh;
  color: #fff;
}

.underline{
  margin-top: -0.5rem;
  width: 3.5rem;
  height: 0.7rem;
  background-color: red;
}

.wrap{
  display: block;
  margin: auto;
  width: 300px;
  overflow: hidden;
}

.boxs{
  float: left;
  width: 280px;
  height: 280px;
  background-color: #fff;
  margin-left: 10px;
  margin-top: 20px;
}

.text_wrap{
  display: block;
  width: 100%;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  background-color:#c5c9d2 ;
}

.skills{
  margin-bottom: 20px;
}

.foot_wrap{
  display: block;
  width: 100%;
  margin: 1.8rem 0px;
  text-align: center;

}

.foot_wrap p{
  padding-top: 1.5rem;
}


.resume{
  display: block;
}

.resume button{
  border-style: outset;
  border-width: 2px;
  border-color: #000;
  padding: 5px;
  width: 18rem;
  color: #000; 
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  resize: none;
}

.resume button:hover {
    background: #344868;
    color: #fff;
    border-color: #fff;
  }

  .social{
  text-align: center;
 }

 .social img{
  height: 4rem;
  width: 4rem;
  margin: 0.8rem 2rem 0 0;
 }



@media screen and (min-width: 666px) {
  [class*="col-"] {
    border: 1px solid rgba(249, 38, 114, 1);
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  [class*="col-"]{
    float: left;
  }

  .col-6 {width: 100%;}

  h4{
    margin-left: 0px;
  }

  .home{
    height: calc(50vh + 80px);
  }

  .home img{
    top: 50vh;
    transform: translate(-50%,-50%);
  }

  .img_box{
    background-size: auto 100%;
    background-position: center -10rem;
  }

  .home .white_top{
    position: absolute;
    width: 100%;
    height: 50vh;
    top: 50%;
    background-color: #fff;
    z-index: -5;
  }

  .home .title_box h1{
    padding-top: 15vh;
  }


  .wrap{
    width: 666px;
  }

  .boxs{
    float: left;
    margin-left: 35.33px;
  }


}

@media screen and (min-width: 960px){

.col-6 {width: 50%;}

 .back_img{
  width: 100%;
  height: auto;
}


.img_box{
  background-size: 100% auto;
  background-position: 0 -10rem;
}

.wrap{
  width: 960px;
}

.boxs{
  margin-left: 30px;
}

}